.header1a {
	background-color :#fff2e6;
	border : black 1px solid; 
	text-align:center; 
	font : 24px Tahoma; 
	}
.header1b {

	background-color :#fff2e6;
	border : black 1px solid; 
	text-align:center; 
	font-size : 34px; 
	font-family: 'Galada', cursive;
	}
.header2{
		background-color :#ffe5cc;
		border : black 1px solid; 
		text-align:left;  
		font: 12px Tahoma; 
		}

.footer {

		background-color:#fff2e6;
		border : black 1px solid; 
		text-align :  center ; 
		font : 18px Tahoma; 
		}
.required {
				font-weight : bold ; 
				}

.menuitems {
		background-color :#f0ffff; 
		height : 200px; 
	}
.contactform {
				background-color :#f0ffff; 
				text-align : center ; 

	}